header{
    height: 300px;
    background-color: antiquewhite;
    background-image: url(/images/ef91c6f9398f825c538065b142281218.jpg);
    background-size: cover;
    background-position: center center;
}